*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body{
  background-color: #34568B;
  display: flow-root;
}


nav a{
  text-decoration: none;
  color: #000000;
  
}

/* #links a:hover{
  color: hsl(248, 78%, 45%);
}
 */
.active{
  border-bottom: 3px solid #000000;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
/*   animation: rotate;
  animation-duration: 2s; */
}

.logo{
  font-size: 1.5em;
  color: #000000;
  padding: 20px 10px;
}

main{
  min-height: 100vh;
  padding: 65px 85px 65px;
  color: #000000;
  margin: auto;
}

main img{
  width: 300px;
  height: 300px;
  float: right;
}

.homeContent{
  display: block;
  font-size: 1.3em;
  margin-left: auto;
}

/* 
main img{

  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px 0 10px 10px;
  
} */


.DG{
  font-size: 2em;
  margin-block-start: 1.1em;
  margin-block-end: 1.1em;
/*   animation: rotate;
  animation-duration: 2s; */
}

.denzelW{
  text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  margin-top: 5.5em;
/*   animation: slideUp;
  animation-duration: 2s; */
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto;
}

.social-media{
  display: flex;
  justify-content: center;
}

footer a{
  text-decoration: none;
  color: #000000;
  margin: 0 5px;
}

footer img{
  opacity: 0.5;
}

/* About me CSS */

section{
  display: block;
}

#aboutHeader{
  font-size: 2em;
  text-align: center;
}

#controller{
  float: right;
  margin: 0 10px 10px 0;
}

#father{
  float: right;
  margin: 0 10px 10px 0;
}

#basketball{
  float: left;
  margin: 0 10px 10px 0;

}

#controllerIMG{
  width: 200px;
  height: 200px;
}

#basketballIMG{
  width: 200px;
  height: 200px;
}

#fatherIMG{
  width: 200px;
  height: 200px;
  float: left;
  margin: auto;
}
main h2{
  font-size: 1.5em;
}


/* Keyframse */
/* @keyframes rotate {
  100%{transform: rotateX(360deg)}
}

@keyframes slideUp {
  from{transform: translateY(300%)}
}
 */