*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
/*   list-style: none; */
  background-color: #34568B;
  color: black;
}

.header{
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background-color:#34568B;
  display: flex;
  justify-content: space-between;
  align-items: center;
/*   z-index: 100; */
/*   backdrop-filter: blur(10px); */
}

.nav a{
  font-size: 20px;
  font-weight: 550;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.5s ease;
}

.links a:hover, 
.links a.active{
    border-bottom: 3px solid;
    color: white;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.logo{
  font-size: 30px;
  color: white;
  font-weight: 600;
  transition: 0.5s ease;
}
.logo:hover{
  color: black;
  text-shadow: 0 0 30px black,
               0 0 60px black;
  transform: scale(1.1);
}

main{
  min-height: 100vh;
  padding: 65px 85px 65px;
  color: #000000;
  margin: auto;
  align-items: center;
}

main img{
  width: 300px;
  height: 300px;
  float: right;
}

.homeContent{
  display: block;
  font-size: 1.3em;
  
}

.DG{
  font-size: 2em;
  margin-block-start: 1.1em;
  margin-block-end: 1.1em;
}

.denzelW{
  text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(182, 100%, 61%);
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  margin-top: 5.5em;
/*   animation: slideUp;
  animation-duration: 2s; */
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto;
}

.social-media{
  display: flex;
  justify-content: center;
}

footer a{
  text-decoration: none;
  color: #000000;
  margin: 0 5px;
}

footer img{
  opacity: 0.5;
}

/* About me CSS */

/* section, h2{
  display: block;
} */

h1{
  font-size: 1.5em;
  padding: 30px;
  margin-left: -33px;
}


#father, #aloha, #basketball, #controller, #items, #food{
  float: right;
  margin: 0 10px 10px 0;
}

#controllerIMG, #fatherIMG, #basketballIMG{
  width: 200px;
  height: 200px;
}

#alohaIMG, #itemsIMG, #foodIMG{
  margin-right: 10px;
  float: left;
}

h2{
  font-size: 2em;
}